// 公共样式
$theme-color: #1F82FF;
$theme-light-color: #DEECFF;
$theme-anti-color: #999FA5;
$theme-bg: #F8F8F8;

$theme-warning:#f0ad4e;
$theme-success:#67C23A;
/* 布局 */
.flex {
    display: flex;
}
.flex-aic{
    display: flex;
    align-items: center;
}
.flex-aic-jcc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.flex-se {
    display: flex;
    justify-content: space-evenly;
}
/* 微调 */
.width-xs {
    width: 400rpx;
}
.width-sm {
    width: 470rpx;
}
.width-lg {
    width: 520rpx;
}
.margin-top-lg{
    margin-top: 15rpx
}
.text-margin-r{
    margin-right: 10rpx;
}
.text-margin-l{
    margin-left: 10rpx;
}
.text-margin-l-sm{
    margin-left: 15rpx;
}
/* 边距 */
.i-padding-sm{
    padding: 10rpx
}
.i-padding{
    padding: 20rpx
}
.i-padding-lg{
    padding: 30rpx
}
/* 字体 */
.text-lg-b {
    font-size: 32rpx;
    font-weight: bold;
}
.text-lg {
    font-size: 36rpx;
}
.text-sm{
    font-size: 25rpx;
}
.text-grey {
    color: #666666
}
.text-theme{
    color: $theme-color
}
.t-name{
    font-size: 36rpx;
    font-weight: bold;
  }
.t-address{
    color: #666666;
    font-size: 28rpx;
    margin-top: 10rpx;
}
.title-text{
    font-size: 36rpx;
    font-weight: 800;
    letter-spacing : 2rpx;
    color: #FFFFFF;
  }
.text-l-bold{
    font-weight: bold;
    color: #333333;
    margin-right: 10rpx;
}
.text-line-one{
    display: -webkit-box; 
    overflow: hidden;
     -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
}
.text-line-two{
    display: -webkit-box; 
    overflow: hidden;
     -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
/* icon 图片 */
.icon-img{
    width: 40rpx;
    height: 40rpx;
    margin-right: 10rpx;
}
.theme-img{
    width: 170rpx;
    height: 170rpx;
    padding-top: 30rpx;
    padding-bottom: 20rpx;
}
/* 组件 */
